.chart {
  flex: 4;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(123, 60, 15, 0.47);
  padding: 10px;
  color: rgb(149, 29, 29);

  .title {
    margin-bottom: 20px;
  }

  .chartGrid {
    stroke: rgb(194, 182, 182);
  }
}
